<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Pradinis puslapis</h1>

        <h3>Projekto pavadinimas: {{data.projectname}}</h3>
        <h3>Kategorija: {{data.category}}</h3>
         <h3>Projekto kaina: {{data.price}}</h3>
          <h3>Nuotrauka: <img src={{photo}} alt="">{{data.failas}}</h3>
           <h3>Vardas: {{data.first-name}}</h3>
            <h3>Pavardė: {{data.last-name}}</h3>
             <h3>Telefonas: {{data.phone}}</h3>
              <h3>Adresas: {{data.address}}</h3>


</body>

</html>